.btn{

    background-color: #EEB3A3;
    width: 40%;
}
.btn2{

    background-color: #967BAC;
}

.img{

margin-top: 40%;

}

.form-control{

    border: #967BAC solid 1px;
}

.botao{

    margin-top: 10%;

}